/*
 * The main dark mode styles
 */

@mixin dark-scheme {
  /* Framework color */
  --main-bg: rgb(16, 29, 31);
  --mask-bg: rgb(24, 79, 92);
  --main-border-color: rgb(26, 44, 57);

  /* Common color */
  --text-color: rgb(175, 176, 177);
  --text-muted-color: rgb(80, 118, 146);
  --heading-color: #cccccc;
  --blockquote-border-color: rgba(18, 50, 64, 0.3);
  --blockquote-text-color: rgba(58, 143, 167, 0.3);
  --link-color: rgb(68, 143, 160);
  --link-underline-color: rgb(82, 108, 150);
  --button-bg: rgb(23, 34, 50);
  --btn-border-color: rgb(30, 53, 71);
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: var(--btn-border-color);
  --btn-box-shadow: var(--main-bg);
  --card-header-bg: rgb(30, 49, 61);
  --label-color: rgb(70, 110, 144);
  --checkbox-color: rgb(32, 54, 65);
  --checkbox-checked-color: var(--link-color);
  --img-bg: radial-gradient(circle, rgb(22, 22, 24) 0%, rgb(32, 32, 32) 100%);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(28, 40, 56, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  /* Sidebar */
  --sidebar-bg: radial-gradient(circle, rgb(45, 28, 45) 0%, rgb(7.4,64.3,80.0) 100%);
  --sidebar-muted-color: rgb(39.6,125.5,143.3);
  --sidebar-active-color: rgb(255, 255, 255, 0.95);
  --sidebar-hover-bg: rgb(133, 149, 186, 0.33);
  --sidebar-btn-bg: rgba(58, 132, 167, 0.3);
  --sidebar-btn-color: #6ed6ee;
  --avatar-border-color: rgb(206, 206, 206, 0.9);

  /* Topbar */
  --topbar-bg: rgb(27, 27, 30, 0.64);
  --topbar-text-color: var(--text-color);
  --search-wrapper-border-color: rgb(29, 51, 56);
  --search-icon-color: rgb(58, 91, 114);
  --input-focus-border-color: rgb(39, 66, 79);

  /* Home page */
  --post-list-text-color: rgb(175, 176, 177);
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: rgb(22, 33, 41);
  --btn-paginator-border-color: var(--btn-border-color);
  --btn-text-color: var(--text-color);

  /* Posts */
  --toc-highlight: rgb(116, 178, 243);
  --tag-bg: rgb(20, 36, 48);
  --tag-hover: rgb(43, 56, 62);
  --tb-odd-bg: rgba(42, 47, 53, 0.52); /* odd rows of the posts' table */
  --tb-even-bg: rgb(31, 31, 34); /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: rgb(63, 81, 181);
  --btn-share-color: #6c757d;
  --btn-share-hover-color: #bfc1ca;
  --relate-post-date: var(--text-muted-color);
  --card-bg: #1b2a36;
  --card-hovor-bg: #284250;
  --card-shadow: rgb(18, 29, 38) 0 6px 18px 0,
  rgb(31, 50, 65) 0 0 0 1px;
  --kbd-wrap-color: #327e8d;
  --kbd-text-color: #d3d3d3;
  --kbd-bg-color: #121d26;
  --prompt-text-color: rgb(216, 212, 212, 0.75);
  --prompt-tip-bg: rgb(22, 60, 36, 0.64);
  --prompt-tip-icon-color: rgb(15, 164, 15, 0.81);
  --prompt-info-bg: rgb(7, 59, 104, 0.8);
  --prompt-info-icon-color: #327e8d;
  --prompt-warning-bg: rgb(90, 69, 3, 0.88);
  --prompt-warning-icon-color: rgb(255, 165, 0, 0.8);
  --prompt-danger-bg: rgb(86, 28, 8, 0.8);
  --prompt-danger-icon-color: #cd0202;

  /* tags */
  --tag-border: rgb(66, 103, 134);
  --tag-shadow: rgb(18, 29, 38);
  --search-tag-bg: var(--tag-bg);
  --dash-color: rgb(30, 53, 71);

  /* categories */
  --categories-border: rgb(18, 29, 38);
  --categories-hover-bg: rgb(19, 33, 43);
  --categories-icon-hover-color: white;

  /* archives */
  --timeline-node-bg: rgb(82, 126, 156);
  --timeline-color: rgb(118, 35, 56);
  --timeline-year-dot-color: var(--timeline-color);

  .light {
    display: none;
  }

  hr {
    border-color: var(--main-border-color);
  }

  /* categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
      to left,
      rgb(26, 26, 30),
      rgb(39, 39, 45),
      rgb(39, 39, 45),
      rgb(39, 39, 45),
      rgb(26, 26, 30)
    );
  }

  color-scheme: dark;

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }
} /* dark-scheme */
